

<div>
  <% @pages.each do |garden| %>

    <div class="cards">
      <%= cl_image_tag garden.image.key, height: 150, width: 200, crop: :fill if garden.image.attached?%>
      <div class="card-category">
        <%= link_to garden.name, garden_path(garden) %>
        <%= garden.detail %>
        <%= garden.price %>

      </div>
    </div>




  <% end %>
</div>
