

<div>
  <% @pages.each do |garden| %>

    <div class="cards">
      <%= cl_image_tag garden.image.key, height: 30, width: 40, crop: :fill %>
      <div class="card-category">
        <%= link_to garden.name, garden_path(garden) %>
        <%= garden.detail %>
        <%= garden.price %>

      </div>
    </div>


  <% end %>
</div>
