<div class="card">
<% @pages.each do |garden| %>

  <ul>
      <li>
        <%= garden.name %> <br>
        <%= garden.address %>
        <%= garden.detail %>
        <%= garden.price %>
      </li>
    </ul>

<% end %>
