<h1><%= @reservation[@garden.name] %></h1>

<img src="<%= @reservation["imageUrl"] %>" alt="reservation picture" class="reservation-image">

<div>
  <%= link_to "Return to all Garden",  pages_path %>
</div>
