<h2>Votre réservation est transmis au propriétaire !</h2>

<p><%= @garden.name %></p>

<p><%= @reservation.date %></p>

<img src="<%= @reservation["imageUrl"] %>" alt="reservation picture" class="reservation-image">

<div>
  <%= link_to "Return to all Garden",  pages_path %>
</div>
