

.index-container {

  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  justify-content: space-evenly;
  width: 60%;
}


.cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid black;
  width: auto;
  height: auto;
  border-radius: 24px;
  background-color: $grey-card ;
  font-family: 'Roboto', sans-serif;
}

.map-container {
  width: 60%;
  height: 100vh;
  position: sticky !important;;
  top: 0 !important;;
  margin: 16px;
  border-radius: 24px;
}

.index-pages-container {
  display: flex;
}






// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
